:root{
    --text-color: #303846;
}

main{
    font-size: 16px;
}

header{
    background-color: white;
    height: 60px;

    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
}

a.button{
    color: white;
}

.header-view a{
    padding: 10px;
    color: var(--text-color);
}

.order-flex{
    display: flex;
}

.top-section{
    display: flex;
    justify-content: center;
    padding-top: 45px;

    height: 350px;
    background: url(../images/banner.png) 100% no-repeat;
    background-size: cover;
    
    color: white;
  }

.style-top-button{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.top-content{
    display: flex;
    flex-direction: column;
    
    line-height: 150%;
}

.small-container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.piece-top-content{
    display: block;
    width: 290px;
}

.text-alignment-left{
    display: block;
    padding-right: 100px;
}

.large-container{
    display: flex;
    justify-content: center;
}

.color-light-gray{
    background-color: #f7f7f7; 
}

.text-alignment-right{
    display: block;
    padding-left: 100px;
}


.grouping-fieldset{
    color: #00eec6;
    border: 2px solid #00eec6;

    font-weight: bold;
    width: 350px;
}

.legend-style{
    font-size: 20px;
}

.selection-block{
    display: flex;
    align-items: center;   
    justify-content: space-between;

    color: var(--text-color);
}

.selection-box{
    width: 110px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #aeb0b3;
}

.request-alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.input{
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    border: 1px solid #aeb0b3;
}

.style-bottom-button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #00eec6;
    color: #00eec6;
    background-color: transparent;
    margin-top: 10px;
    font-weight: bold;
    width: 150px;
    font-size: 16px;
}

.color-dark-gray{
    display: flex;
    justify-content: center;

    background-color: var(--text-color);
    margin-top: -20px;
    height: 200px;
}

.footer{
    padding-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 1000px;

   
}

.block{
    display: block;
    width: 300px;
}

.flex{
    display: flex;
    align-items: center;
}

.flex h4{
    padding-left: 10px;
}