:root{
    --main-text: #303846;
    --white-color: white;
    --request-color: #00eec6;
    --main--indent: 60px;
    --color-grey: #f7f7f7;
    --color-lightgrey: #aeb0b3;
}

main{
    font-size: 16px;
    margin-top: var(--main--indent);
}

.header-style{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    width:100%;
    height: var(--main--indent);
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text);
    margin: 0;
    line-height: 150%;
}

.header-style a{
    padding: 10px;
    color: var(--main-text);
}

.order-flex{
    display: flex;
}

.jf-center{
    justify-content: center;
}

.jf-space-between{
    justify-content: space-between;
}

.al-items-center{
    align-items: center;
}

.dir-column{
    flex-direction: column;
}

.top-section{
    background: url(../images/banner.png) 100% no-repeat;
    background-size: cover;
    color: var(--white-color);
  }

  .top-section h2{
      font-size: 20px;
  }

  .top-section h1{
      font-size: 46px;
      margin-bottom: 0;
  }

.btn-white{
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

.btn{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.btn-turquoise{
    border: 1px solid var(--request-color);
    color: var(--request-color);
}

.container{
    padding-top: var(--main--indent);
    padding-bottom: var(--main--indent);
    width: 1000px;
    margin: 0 auto;
}

.width-300{
    width: 300px;
}

.text-alignment-left{
    display: block;
    padding-right: 100px;
}

.color-light-gray{
    background-color: var(--color-grey); 
}

.text-alignment-right{
    display: block;
    padding-left: 100px;
}


.grouping-fieldset{
    color: var(--request-color);
    border: 2px solid var(--request-color);
    font-weight: bold;
    width: 350px;
}

.legend-style{
    font-size: 20px;
}

.selection-block{
    color: var(--main-text);
}

.selection-box{
    width: 110px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--color-lightgrey);
}

.input{
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    border: 1px solid var(--color-lightgrey);
}
.color-dark-gray{
    background-color: var(--main-text);
}

.footer-color{
    color: var(--white-color);
}

.al-items-center h4{
    padding-left: 10px;
}